.card-text, .card-title {
    color: #fff;
}

.card {
    border: none;
}

.card-icon {
    color: #fff;
    justify-content: center;
    display: flex;
    margin-bottom: 0.75rem;
}

.mycontent-left {
    border-right: 2px solid #2c3e50;
  }

.contact-icon {
    padding-right: 5px;
}