#masthead {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: green;
}

#masthead-text {
    position: absolute;
    top: 35%;
    right: 10%;
    text-align: right;
    color: #DDDDDA;
}

.masthead-title {
    font-size: 3.75rem;
    line-height: 3.75rem;
}

#projects {
    /*background-color: #94B0B7;*/
    background-color: #E0ECDE;
}

#about {
    background-color: #FFF;
}

#contact {
    /* background-color: #7697A0; */
    background-color: #CDE0C9;
}

#footer {
    background-color: #DDDDDA;
}

.page-section {
    padding: 6rem;
}

.page-section-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    text-align: center;
    text-transform: uppercase;
}

.divider-custom-line {
    width: 100%;
    max-width: 3rem;
    height: 0.25rem;
    background-color: #716B6D;
    border-radius: 1rem;
    border-color: #716B6D !important;
}

.dark-text {
    color: #716B6D;
}

body {
    color: #716B6D;
}

.full-width-div {
    position: absolute;
    width: 100%;
    left: 0;
}

.image {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: green;
}